# Bot
BOT_TOKEN=1234567890:AABBCCddFFddeeRRttggAA
BOT_ADMIN_ID=1234567899

# TT
TT_GOD_PASSWORD=asdcbde213456

# Rocks mirror
LUAROCKS_ROCKS_SERVER="https://rocks.niko-bot.ru"
TARANTOOL_ROCKS_SERVER="https://rocks.niko-bot.ru"
